.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #fff !important;
  max-width: 76.8rem;
  padding: 0;
  margin: 0 auto;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;

  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  box-sizing: border-box;

  border: 1px solid black;

  padding: 5rem 2rem;
}

.interests {
  width: 100%;
  margin-top: 3rem;
}

.premium {
  width: 100%;
}

.standard {
  width: 100%;
}

.chatbot {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.setting {
  width: 100%;
}
