.fieldTabWrap {
  width: inherit;
  display: flex;
  padding: 1rem 1.2rem 0 1.2rem;
  background: none;
}

.fieldTab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;

  width: 4.5rem;
  height: 2rem;
  background: none;

  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  color: black;
}

.fieldTab.selected {
  font-weight: bold;
  background-color: #d9d9d9;
  border-radius: 10px;
}
